body {
    font-family:'Times New Roman', Times, serif;
    background: #f4f4f4;
    text-align: center;
    padding: 20px;
}

.container {
    background: white;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
}

button {
    background: green;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

button:hover {
    background: darkgreen;
}
